{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.{scss,sass,css}",
      "options": {
        "tabWidth": 2,
        "useTabs": false,
        "singleQuote": true,
        "printWidth": 100
      }
    },
    {
      "files": "*.html",
      "options": {
        "parser": "angular",
        "tabWidth": 2,
        "printWidth": 100
      }
    }
  ]
}
